---
title: Middleman 4 Boilerplate
---

<!-- PUT YOUR CONTENT FOR THE HOMEPAGE HERE -->
<div class="container black">
	<%= partial "partials/header" %>
	<%= partial "partials/preorders" %>	
	<%= partial "partials/contest" %>
	<%= partial "partials/video" %>
	<%= partial "partials/socials" %>	
</div>