---
title: Middleman 4 Boilerplate
---

<!-- PUT YOUR CONTENT FOR THE HOMEPAGE HERE -->
<div id="header" class="container">
	<%= partial "partials/header" %>
</div>
<div id="preorders" class="container">
	<%= partial "partials/preorders" %>	
</div>
<div id="contest" class="container">	
	<%= partial "partials/contest" %>
</div>
<div id="video" class="container">	
	<%= partial "partials/video" %>
</div>
<div id="socials" class="container">	
	<%= partial "partials/socials" %>	
</div>