---
title: Middleman 4 Boilerplate
---

<!-- PUT YOUR CONTENT FOR THE HOMEPAGE HERE -->
<section class="parallax-container" id="header">
  <div class="container">
    <%= partial "partials/header" %>
  </div>
  <div class="parallax"><img class="wood" src="https://s3.amazonaws.com/myfangate.com/realfriends16/floorbg.jpg"></div>
</section>
<section id="preorders">
  <div class="container">
  	<%= partial "partials/preorders" %>
  </div>
</section>
<section id="contest">
  <div class="container">
    <%= partial "partials/contest" %>
  </div>
</section>
<section id="video">
  <div class="container">
    <%= partial "partials/video" %>
  </div>
</section>
<section id="socials">
  <div class="container">
    <%= partial "partials/socials" %>
  </div>
</section>
